# Python standard ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data folder contents
data/*.csv
data/*.db

# Environment and virtualenv
.env
venv/
*.egg-info/
